body { background: #50eb1e; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 48px; display: flex; }
.block-helper-0 { color: #2d54a; font-size: 17px; margin-bottom: 5px; }
.block-helper-1 { color: #cb4c; font-size: 18px; margin-bottom: 5px; }
.block-notify-2 { color: #479c82; font-size: 14px; margin-bottom: 5px; }
.block-filter-3 { color: #799c87; font-size: 15px; margin-bottom: 5px; }
.block-invoice-4 { color: #196e88; font-size: 15px; margin-bottom: 5px; }
.block-cart-5 { color: #163fd; font-size: 19px; margin-bottom: 5px; }